<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Secrets</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	
	

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script
  		src="https://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  

	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>    
  <nav>
  	<div class="nav-wrapper">
  		<a href="/" class="brand-logo">Trippin</a>
  		<ul id="nav-mobile" class="right hide-on-med-and-down">
    		<li><a href="/trip">Trips</a></li>
  			<li><a href="/place">Places</a></li>
    		<li><a href="">Contact</a></li>
  		</ul>
  	</div>
	</nav>
  
	<div id="content-wrapper" class="row">
    	{% block content %}{% endblock %}
	</div>

	<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Don't go tripping planning your trip.</h5>
          <p class="grey-text text-lighten-4">Dear fellow travelers, Trippin allows you to pin your trip destination for each day of your trip. </p>
        </div>
        <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">© 2016 Copyright Reico & Milo
        <a class="grey-text text-lighten-4 right" href="#!">github</a>
      </div>
    </div>
  </footer>
  <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
</body>
</html>