<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pin your trip! - Trippin</title>
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


  <!-- 
  ### BOWER_COMPONENTS ###
  open app.js in root folder to view how bower_componenet foler is set with express.static() -->
		
	<link rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.min.css">

  <!-- 
  ### Orders Matter!! ###

  When you are loading javascript file that includes jQuery methods
  MAKE SURE you load jquery.js before those files
  -->
  <script src="/bower_components/jQuery/dist/jquery.min.js"></script>
  <script src="/bower_components/materialize/dist/js/materialize.min.js"></script>

  <!-- 
  ### Why is following js files located in public directory? ###

  Since we have set up /public directory with express.static,
  local frontend js & css file should be located inside public directory
  -->
  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="/js/map.js"></script>

	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body> 
  <!-- 
  ### Navigation ###
  This is where navigation of the website located
  Materialize nav documentation
  link: 
  -->   
  <nav>
  	<div class="nav-wrapper">
  		<a href="/" class="brand-logo">Trippin</a>
  		<ul id="nav-mobile" class="right hide-on-med-and-down">
    		<li><a href="/trip">Trips</a></li>
  			<li><a href="/place">Places</a></li>
    		<li><a href="">Contact</a></li>
  		</ul>
  	</div>
	</nav>
  
  
	<div id="content-wrapper" class="row">

      <!-- 
      ### Map ###
      Trying to expose you guys with nunjucks include feature
      This will append html of the file you include
      This is good way to DRY up your code.
      -->
      {% include "map.html" %}

      <!-- 
      ### Content ###
      This is where content of view file will be appended
      -->
    	{% block content %}{% endblock %}

	</div>

  <!-- 
  ### Google Map API Call ###
  This is where the site is sending request to google server with API Key set up at Google Developer Console with callback function we created

  callback=initAutocomplete

  initAutocomplete is function we created in map.js file
  This line is telling Google server to initialize Google map according to this callback

  libraries=places
  This line is telling Google server to return Google places library to response

  link: 
  -->

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC307FhrQS-FexylrJfdMH6ABKVSfUhfRQ&libraries=places&callback=initAutocomplete" async defer></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>

  <!-- 
  ### Footer ###
  This is where navigation of the website located
  Materialize nav documentation
  link: 
  -->
	<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Don't go tripping planning your trip.</h5>
          <p class="grey-text text-lighten-4">Dear fellow travelers, Trippin allows you to pin your trip destination for each day of your trip. </p>
        </div>
        <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">© 2016 Copyright Reico & Milo
        <a class="grey-text text-lighten-4 right" href="#!">github</a>
      </div>
    </div>
  </footer>
  
</body>
</html>