{% extends "layout.html" %}

{% block content %}

	<div id="content-layout" class="mdl-grid">
		<div id="map-wrapper">
			<div id="map"></div>
		    <script>
		      var map;
		      function initMap() {
		        map = new google.maps.Map(document.getElementById('map'), {
		          center: {lat: -34.397, lng: 150.644},
		          zoom: 8
		        });
		      }
		    </script>
		    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZC08lgoreqNUIikkN_tKMLO5FT-HkVeQ&callback=initMap"
    async defer></script>
			
		</div>

	  	<div id="panel-wrapper">	 
	  		<div>
	  			<div class="mdl-selectfield">
		        	<label>Hotel</label>
		        	<select class="browser-default">
			          	<option value="" disabled selected>Choose your option</option>
			          	<option value="1">Option 1</option>
			          	<option value="2">Option 2</option>
			          	<option value="3">Option 3</option>
		        	</select>
		      	</div> 
	  			<div>
		  			<label>Hotel</label>
		  			<select>
		  				<option>1</option>
		  				<option>1</option>
		  			</select>
		  		</div>	
		  		<div>
		  			<label>Restaurant</label>
		  			<select>
		  				<option>1</option>
		  				<option>1</option>
		  			</select>
		  		</div>	
		  		<div>
		  			<label>Activity</label>
		  			<select>
		  				<option>1</option>
		  				<option>1</option>
		  			</select>
		  		</div>	
	  		</div>
	  		
	  		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			  <div class="mdl-tabs__tab-bar">
			  		{% for plan in plans %}
			  			<a href="#day{{plan.day}}" class="mdl-tabs__tab">Day {{plan.day}}</a>
			  		{% endfor %}			      
			  </div>

			  <div class="mdl-tabs__panel is-active" id="day1">
			    <ul>
			      <li>Eddard</li>
			      <li>Catelyn</li>
			      <li>Robb</li>
			      <li>Sansa</li>
			      <li>Brandon</li>
			      <li>Arya</li>
			      <li>Rickon</li>
			    </ul>
			  </div>
			  <div class="mdl-tabs__panel" id="day2">
			    <ul>
			      <li>Tywin</li>
			      <li>Cersei</li>
			      <li>Jamie</li>
			      <li>Tyrion</li>
			    </ul>
			  </div>
			  <div class="mdl-tabs__panel" id="day3">
			    <ul>
			      <li>Viserys</li>
			      <li>Daenerys</li>
			    </ul>
			  </div>
			</div>
	  	</div>
	  	

  		<div class="float-btn float-top-center">
  			<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
			  	<i class="material-icons">add</i>
			</button>
  		</div>
		
	  	
	</div>
{% endblock %}