{% extends "layout.html" %}

{% block content %}

<div id="panel-wrapper" class="col s12 m4 l3">
  <div class="divider"></div>
  <div class="section">
    <div class="section-header row">  
      <div class="col s9">
        <h5>Select a trip</h5>                  
      </div>
      <div class="valign col s3">
        <div class="fixed-action-btn horizontal">
          <a class="btn-floating btn-small">
            <i class="material-icons">more_vert</i>
          </a>
          <ul>
            <li><a class="btn-floating red">
              <i class="material-icons">hotel</i></a>
            </li>
            <li><a class="btn-floating yellow darken-1">
              <i class="material-icons">local_dining</i></a>
            </li>
            <li><a class="btn-floating green">
              <i class="material-icons">local_bar</i></a>
            </li>          
          </ul>
        </div>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="input-field col s9">
        <select id="hotel-list">
          <option value="" disabled selected>Choose your option</option>          
          {% for hotel in places.hotels %}
          <option value="{{hotel.id}}" 
            data-rate="{{hotel.num_stars}}" 
            data-lat="{{hotel.place.location.lat}}"
            data-long="{{hotel.place.location.long}}">{{hotel.name}}</option>
          {% endfor %}          
        </select>
        <label>Hotel</label>
      </div>
      <div class="valign col s3">
        <a id="hotel-btn" class="btn-floating btn-small waves-effect waves-light">
          <i class="material-icons">add</i>
        </a>  
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="input-field col s9">
        <select id="restaurant-list">
          <option value="" disabled selected>Choose your option</option>          
          {% for restaurant in places.restaurants %}
          <option value="{{restaurant.id}}" 
            data-cuisine="{{restaurant.cuisine}}" 
            data-price="{{restaurant.price}}" 
            data-lat="{{restaurant.place.location.lat}}"
            data-long="{{restaurant.place.location.long}}">{{restaurant.name}}</option>
          {% endfor %}         
        </select>
        <label>Restaurant</label>
      </div>
      <div class="valign col s3">
        <a id="restaurant-btn" class="btn-floating btn-small waves-effect waves-light">
          <i class="material-icons">add</i>
        </a>  
      </div>
    </div>
    <div class="row valign-wrapper">

      <div class="input-field col s9">
        <select id="activity-list">
          <option value="" disabled selected>Choose your option</option>          
          {% for activity in places.activities %}
          <option value="{{activity.id}}" 
            data-age="{{activity.age_range}}"             
            data-lat="{{activity.place.location.lat}}"
            data-long="{{activity.place.location.long}}">{{activity.name}}</option>
          {% endfor %}
        </select>
        <label>Activities</label>
      </div>
     
      <div class="valign col s3">
        <a id="activity-btn" class="btn-floating btn-small waves-effect waves-light">
          <i class="material-icons">add</i>
        </a>  
      </div>
    </div>    
  </div>
  <div class="divider"></div>
  <div class="section">
    <div class="section-header row">      
      <div class="col s10">
        <h5>Add plans to your trip</h5>
      </div>
      <div class="valign col s3">
        <div class="fixed-action-btn horizontal">
          <a class="btn-floating btn-small">
            <i class="material-icons">more_vert</i>
          </a>
          <ul>
            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
          </ul>
        </div>
      </div>
      <!--
      <div class="valign col s2">
        <a class="btn-floating btn-small waves-effect waves-light">
          <i class="material-icons">add</i>
        </a>  
      </div> 
      -->     
    </div>
    <ul class="tabs tabs-transparent">
    	{% for day in trip.days %}
    	<li class="tab day-tab"><a href="#day{{day.day}}" data-value="{{day.day}}" class="tab-link">Day {{day.day}}</a></li>		
		  {% endfor %}
    </ul>

    <!-- This is tab containers for days -->
	  {% for day in trip.days %}
	  <div id="day{{day.day}}" class="col s12 tab-container">
      <div id="hotel-plan" class="plan-group">
        <h6>Hotel</h6>
        <div class="plan-list">
        {% for plan in plans['day'+day.day].hotels %}
          <div class="list-item row" data-id="{{plan.hotel.id}}">
            <div class="col s10">{{plan.hotel.name}}</div>
            <div class="col s2">
              <a class="clear-hotel">
                <i class="material-icons">clear</i>
              </a>  
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      <div id="restaurant-plan" class="plan-group">
        <h6>Restaurant</h6>
        <div class="plan-list">
        {% for plan in plans['day'+day.day].restaurants %}
          <div class="list-item row" data-id="{{plan.restaurant.id}}">
            <div class="col s10">{{plan.restaurant.name}}</div>
            <div class="col s2">
              <a class="clear-restaurant">
                <i class="material-icons">clear</i>
              </a>  
            </div>
          </div>
        {% endfor %}
        </div>   
      </div>
      <div id="activity-plan" class="plan-group">
        <h6>Activities</h6>
        <div class="plan-list">
        {% for plan in plans['day'+day.day].activities %}
          <div class="list-item row" data-id="{{plan.activity.id}}">
            <div class="col s10">{{plan.activity.name}}</div>
            <div class="col s2">
              <a class="clear-activity">
                <i class="material-icons">clear</i>
              </a>  
            </div>
          </div>
        {% endfor %}   
        </div>
      </div>

    </div>
	  {% endfor %}      
	</div>
</div>		  	

{% endblock %}
