{% extends "layout.html" %}

{% block content %}

<div id="map-wrapper" class="col s12 m8 l9">
  
  <!-- This is select box for radar search within radius
  https://developers.google.com/maps/documentation/javascript/examples/place-radar-search -->
  
  <div id="map-control">
    <div id="pac-select">
      <select id="radar-search">
        <option>Hotel</option>
        <option>Restaurant</option>
        <optgroup label="Activities">
          <option>Bar</option>
          <option>Park</option>
          <option>Cafe</option>
          <option>Best View</option>
        </optgroup>      
      </select>
    </div>
    <div>
      <!-- This is for the address search -->
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">    
    </div>
  </div>

  <div id="map"></div>
  <script src="/js/map.js"></script>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZC08lgoreqNUIikkN_tKMLO5FT-HkVeQ&libraries=places&callback=initAutocomplete" async defer></script>			
</div>

<div id="panel-wrapper" class="col s12 m4 l3">

  


  <div class="divider"></div>
  <div class="section">
    <h5>Select a trip</h5>			    
    <div class="row valign-wrapper">
      <div class="input-field col s9">
        <select id="hotel-list">
          <option value="" disabled selected>Choose your option</option>          
          {% for hotel in trip.hotels %}
          <option value="{{hotel.id}}">{{hotel.name}}</option>          
          {% endfor %}          
        </select>
        <label>Hotel</label>
      </div>
      <div class="valign col s3">
        <a id="hotel-btn" class="btn-floating btn-small waves-effect waves-light">
          <i class="material-icons">add</i>
        </a>  
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="input-field col s9">
        <select id="hotel-list">
          <option value="" disabled selected>Choose your option</option>          
          {% for restaurant in trip.restaurants %}
          <option value="{{restaurant.id}}">{{restaurant.name}}</option>          
          {% endfor %}         
        </select>
        <label>Restaurant</label>
      </div>
      <div class="valign col s3">
        <a class="btn-floating btn-small waves-effect waves-light">
          <i class="material-icons">add</i>
        </a>  
      </div>
    </div>
    <div class="row valign-wrapper">

      <div class="input-field col s9">
        <select id="hotel-list">
          <option value="" disabled selected>Choose your option</option>          
          {% for activity in trip.activities %}
          <option value="{{activity.id}}">{{activity.name}}</option>          
          {% endfor %}
        </select>
        <label>Activities</label>
      </div>
     
      <div class="valign col s3">
        <a class="btn-floating btn-small waves-effect waves-light">
          <i class="material-icons">add</i>
        </a>  
      </div>
    </div>    
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Plan a new trip</h5>
    <ul class="tabs tabs-transparent">
    	{% for plan in trip.plans %}
    	<li class="tab day-tab"><a href="#day{{plan.day}}" data-value="{{plan.day}}">Day {{plan.day}}</a></li>		
		{% endfor %}
    </ul>
	  {% for plan in trip.plans %}
	  <div id="day{{plan.day}}" class="col s12">Day {{plan.day}}</div>
	  {% endfor %}      
	</div>
</div>		  	

{% endblock %}
