/* 
 * Color 
 */
$primary-color: #5ab35a;

nav, footer.page-footer {
  background-color: $primary-color;
}

.tabs.tabs-transparent .tab a:hover, 
.tabs.tabs-transparent .tab a.active {
	color: $primary-color;
}
.tabs.tabs-transparent .indicator {
    background-color: $primary-color;
}

.tabs.tabs-transparent .tab a, 
.tabs.tabs-transparent .tab.disabled a, 
.tabs.tabs-transparent .tab.disabled a:hover {
    color: rgba(105, 105, 105, 0.7);
}

/* 
 * Font 
 */
h1 {
	font-size: 18px;
}
h5{
  font-size: 1.34rem !important;
}
.plan-group h6 {
	font-weight: 700;
}
/*
 * Overwriting Materilize
 */
.valign-wrapper.flex-end{
	align-items: flex-end;
}

.fixed-action-btn {
    margin-right: 15px;    
}

.fixed-action-btn {
    right: 0 !important;
    bottom: inherit !important;
    /* bottom: 23px; */
    /* padding-top: 15px;
    margin-bottom: 0;
    z-index: 998; */
}

.fixed-action-btn.horizontal ul {    
    right: 0px;
    top: 150%;
    width: 100%;    
}

.fixed-action-btn.horizontal ul li {
    display: block;
    margin: 15px 0 0 0;
}


/* 
 * Grid
 */

#content-wrapper {
  padding: 0 !important;
  height: 90vh;
  background-color: #EEEEEE;
}

#map-wrapper, #map {
  height: 100%;
}

#panel-wrapper .section .row {
	margin: 0;
}
#panel-wrapper .dropdown-content li>a, .dropdown-content li>span {
  font-size: 12px;
}


#map-control {
	position: relative;
	z-index: 10;
	#pac-select{
		position: absolute;
		top: 0;
		right: 0;
	}
}

.tab-container {	
	overflow-y: scroll;
    height: 200px;
}


.btn-mini {
	width: 20px;
    height: 20px;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  .pac-container {
    font-family: Roboto;
  }

  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }

  #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  #target {
    width: 345px;
  }

